* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    /* background: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; */
  }

  /* ---------------- TEXT STYLES ---------------- */
  .bold-text{
    font-weight: bold;
}

/* ---------------- GLOBAL STYLES ---------------- */
.page-section {
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.hr-w {
    border-color: white;
    border-width: 1px;
    opacity: 0.2;
    margin-top: 0px;
}

.inv-hr {
    border-color: rgb(206, 169, 121);
    border-width: 1px;
    opacity: 0.4;
}
.page-section h2 {
    font-size: 36px;
    color: white;
}

/* ---------------- Navigation ---------------- */

#nav-logo {
    width: 120px;
    height: auto;
}
.navbar.bg-dark {
    background-color: #000000 !important;
}
.nav-link {
    text-align: left !important;  
}

.navbar-nav {
    padding-top: 2%;
}

.inv-hr .nav-divider {
    margin-top: 1rem;
}

.nav-item {
    color: antiquewhite;
}


/* ---------------- HERO ---------------- */
.jumbotron {
    background-image: url('../media/images/storeFront.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    max-height: fit-content;
    margin-bottom: 0 !important; /* Remove default margin */
    display: flex;
    align-items: center;
    border-radius: 0% !important;
    color: white;
}

.jumbotron-body {
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    /* font-family: "Judson", serif; */
    font-weight: 400;
    font-style: normal;

}

.jumbotron-body h1{
    margin-bottom: 0px !important;
    line-height: 3rem;
    text-shadow: #2b1e0b 1px 0 10px;
}

.btn-lg {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    width: 150px;
    border-radius: 25px;
    ;
} 

.btn-lg:hover {
    background-color: white;
    color: var(--secondary-bg-color);
    transition: background-color 0.3s ease-out;
}

/* ---------------- INTRO ---------------- */
.intro {
    background-color: black;
}
.intro-body {
    color: white;
    padding: 2rem;
    padding-top: 35rem;
    padding-bottom: 5rem;
}
.intro-body p {
    margin: 0;
    text-align: right;
    font-size: 35px;
    text-align: center;
}

.card.intro-card {
    background-image: url("/media/images/frontDoor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.links {
    background-color: black;
}

.quick-links-list {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.quick-links-list li {
    margin: 10px 0;
}

.quick-links-list li a {
    position: relative;
    text-decoration: none;
    font-size: 30px;
    color: #fff; /* Text color */
    transition: color 0.3s ease;
    padding-bottom: 2px; /* Space between text and underline */
}

.quick-links-list li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Position the underline */
    width: 100%;
    height: 1px; /* Thickness of the underline */
    background-color: rgb(54, 53, 53); /* Color of the underline */
    transition: background-color 0.3s ease;
}

.quick-links-list li a:hover::after {
    background-color: rgb(206, 169, 121); /* Color of the underline on hover */
}


/* ---------------- IN STOCK ---------------- */
.store {
    /* background: linear-gradient(to top, #1c1f16, black); */
    background-color: black;
}

.stock {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
div.stock .card {
    border: none;
    margin-bottom: 0;
}

.card.overlay {
    overflow: visible;
}

.card {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    --padding-amount: 1.4rem;
    width: min(400px, 80vw);
    position: relative;
    background: #333;
    transform-origin: top left;
    overflow: hidden;
    border-color: #000000;
    background-color: #000;
}

.card-body {
    height: auto; /* Adjust height as needed */
    overflow: visible; /* Prevent scrolling */
}

/* Style for the button image */
.card .button-image {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}


/* Style for the overlay */
.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card.hovered .overlay, .card:hover .overlay {
    opacity: 1;
}

/* Style for the subtitle */
.card .subtitle {
    font-size: 24px; /* Adjust font size as needed */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Ensure the expandable card is initially hidden */
.card-expandable {
    display: none;
}

.card-expandable[data-state="expanded"] {
    display: block;
}

.card-expandable[data-state="hidden"] {
    display: none;
}

div.card.card-body.custom-card-body {
    background-color: black;
    color: white; /* Text color for collapsible content */
}

div.card.card-body.custom-card-body.hovered {
    background-color: black;
    color: white; /* Text color for collapsible content */
    padding: 20px;
}

.brand-header {
    text-align: left; /* Align headers to the left */
    color: white; /* Text color for headers */
}

.carousel {
    width: 100%; /* Full width for carousels */
    border-radius: 8px; /* Add border radius to the carousel */
    overflow: hidden; /* Ensure rounded corners are visible */
    margin-bottom: 30px;
}

.carousel-inner img {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the area */
}

.close-button {
    display: block;
    margin: 20px auto 0; /* Center the button horizontally and add top margin */
    background-color: #007bff; /* Background color for the button */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}


  
/* ---------------- EVENTS ---------------- */

.events {
    background: linear-gradient(to bottom, black, #1d150a);
}

div.event .card {
    border: none;
    margin-bottom: 0;
}
.event {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* ---------------- RESIDENTS ---------------- */
.residents {
    background: linear-gradient(to bottom, #1d150a, black);
}


.resident-card {
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #000; /* White background for the card */
    color: #fff; 
    display: flex;
    flex-direction: column;
}

/* Ensure the image fills the top of the card */
.resident-card-img {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the area */
}

/* Ensure the card body has some padding and use Flexbox for alignment */
.resident-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Style for the card title */
.resident-card-title {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 10px;
}

/* Style for the card text */
.resident-card-text {
    font-size: 1rem; /* Adjust font size as needed */
    margin-bottom: 15px;
    flex-grow: 1; /* Take available space pushing the button to the bottom */
}

.resident-card p {
    color: #e6e6e6;
}

.resident-card ol {
    margin-bottom: 0;
}

/* Style for the button */
.resident-btn-primary {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent blue background */
    border: none;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    align-self: flex-end; /* Aligns the button to the right */
    margin-top: auto; /* Pushes the button to the bottom */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust icon size as needed */
}

.resident-btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent darker blue on hover */
    color: #fff;
}

/* ---------------- WORKSHOP ---------------- */
.page-section.workshop {
    background: linear-gradient(to bottom, black, #1d150a);
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: fit-content;
    background-position: center;
    color: white;
}
.workshop-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
}

.card-body {
    background-color: black;
}
.card-body .card-list {
    padding-left: 30px;  /* Adds indentation to the list */
    list-style-type: disc;  /* Ensures list items are marked with bullets */
}

.card-body .card-list li {
    margin-bottom: 5px;  /* Adds a little space below each list item for better readability */
}
/* ---------------- Marketing ---------------- */
.marketing {
    background: linear-gradient(to bottom, #1d150a, black);
}

.marketing p{
    color: white;
}



  /* --------------------------------------------------------- */
  /* --------------------------------------------------------- */

  @media (max-width: 768px) {
    /* ---------------- Global styles ----------------*/
    .page-section {
        padding: 1.5rem;
    }
    .card-headshot {
        width: 200px;
        height: 200px;
    }
    .container h2 {
        padding-top: 1.5rem;
    }
    .flex-row {
        /* padding: 3.25rem; */
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }

    /* ---------------- navbar ---------------- */
    .nav-link {
        /* color: antiquewhite !important; */
        text-align: center !important;
        font-size: 22px;
    }

    /* ---------------- jumbotron ---------------- */
    .jumbotron-body h1{
        margin-bottom: 0px !important;
        line-height: 1.8rem;
        text-shadow: #2b1e0b 1px 0 5px;
        font-size: 2rem;
    }
    .jumbotron-body {
        padding: 2rem;
        padding-top: 8rem;
    }

    /* ---------------- Intro ---------------- */
    .intro-body p {
        font-size: 25px;
    }

    /* ---------------- In Store ---------------- */

    .stock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px; /* Adjust gap between cards as needed */
    }

    /* ---------------- Residents ---------------- */
    .resident-card {
        width: 100%;
    }

    .card-img-large {
        width: 100%;
        height: auto; /* Ensure the image scales correctly */
    }
  }





  /* --------------------------------------------------------- */
  /* --------------------------------------------------------- */
  /* ---------------- EXPANDING CARDS ---------------- */

  
  
  

  
  
  
 
  
 
  

  
  
 