* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    /* background: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; */
  }

  /* ---------------- TEXT STYLES ---------------- */
  .bold-text{
    font-weight: bold;
}

/* ---------------- GLOBAL STYLES ---------------- */
.page-section {
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.inv-hr {
    border-color: white;
    border-width: 1px;
    opacity: 0.2;
}
.page-section h2 {
    font-size: 36px;
    color: white;
}

/* ---------------- Navigation ---------------- */

#nav-logo {
    width: 120px;
    height: auto;
}
.navbar.bg-dark {
    background-color: #000000 !important;
}
.nav-link {
    text-align: left !important;  
}

.navbar-nav {
    padding-top: 2%;
}

.inv-hr .nav-divider {
    margin-top: 1rem;
}

.nav-item {
    color: antiquewhite;
}


/* ---------------- HERO ---------------- */
.jumbotron {
    background-image: url('../media/images/storeFront.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    max-height: fit-content;
    margin-bottom: 0 !important; /* Remove default margin */
    display: flex;
    align-items: center;
    border-radius: 0% !important;
    color: white;
}

.jumbotron-body {
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    /* font-family: "Judson", serif; */
    font-weight: 400;
    font-style: normal;

}

.jumbotron-body h1{
    margin-bottom: 0px !important;
    line-height: 3rem;
    text-shadow: #2b1e0b 1px 0 10px;
}

.btn-lg {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    width: 150px;
    border-radius: 25px;
    ;
} 

.btn-lg:hover {
    background-color: white;
    color: var(--secondary-bg-color);
    transition: background-color 0.3s ease-out;
}

/* ---------------- INTRO ---------------- */
.intro {
    background-color: black;
}
.intro-body {
    color: white;
    padding: 2rem;
    padding-top: 35rem;
    padding-bottom: 5rem;
}
.intro-body p {
    margin: 0;
    text-align: right;
    font-size: 35px;
    text-align: center;
}

.card.intro-card {
    background-image: url("/media/images/frontDoor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ---------------- IN STOCK ---------------- */
.store {
    /* background: linear-gradient(to top, #1c1f16, black); */
    background-color: black;
}

.stock {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
div.stock .card {
    border: none;
    margin-bottom: 0;
}

.card {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

/* Style for the button image */
.card .button-image {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.card:hover .button-image {
    transform: scale(1.05);
}

/* Style for the overlay */
.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .overlay {
    opacity: 1;
}

/* Style for the subtitle */
.card .subtitle {
    font-size: 24px; /* Adjust font size as needed */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Ensure the expandable card is initially hidden */
.card-expandable {
    display: none;
}

.card-expandable[data-state="expanded"] {
    display: block;
}

.card-expandable[data-state="hidden"] {
    display: none;
}
  
/* ---------------- EVENTS ---------------- */

.container {
    display: flex;
    flex-direction: column;
}
.row {
    padding-bottom: 1rem;
}
.events {
    background: linear-gradient(to bottom, black, #1d150a);
}

.events .card {
    position: relative;
    overflow: hidden;
    border-color: #000000;
}

.events .card-img-top {
    width: auto;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area fully */
}

.events .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    padding: 20px;
    transition: background 0.3s ease-in-out;
}

.events .card:hover .card-body {
    background: rgba(0, 0, 0, 0.7); /* Darker on hover */
}

.events .card-title {
    margin-bottom: 10px;
}

.events .card-text {
    color: #bfbfbf;
}

.events .btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    width: fit-content;
    border-radius: 20px;
    
}

.btn-primary:hover {
    background-color: white;
    color: #000000;
    border-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
} 

.card-img-large {
    height: 300px;
    width: auto;
}


/* ---------------- RESIDENTS ---------------- */
.residents {
    background: linear-gradient(to bottom, #1d150a, black);
}


.resident-card {
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #000; /* White background for the card */
    color: #fff; 
    display: flex;
    flex-direction: column;
}

/* Ensure the image fills the top of the card */
.resident-card-img {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the area */
}

/* Ensure the card body has some padding and use Flexbox for alignment */
.resident-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Style for the card title */
.resident-card-title {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 10px;
}

/* Style for the card text */
.resident-card-text {
    font-size: 1rem; /* Adjust font size as needed */
    margin-bottom: 15px;
    flex-grow: 1; /* Take available space pushing the button to the bottom */
}

.resident-card p {
    color: #e6e6e6;
}

/* Style for the button */
.resident-btn-primary {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent blue background */
    border: none;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    align-self: flex-end; /* Aligns the button to the right */
    margin-top: auto; /* Pushes the button to the bottom */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust icon size as needed */
}

.resident-btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent darker blue on hover */
    color: #fff;
}

/* ---------------- WORKSHOP ---------------- */
.page-section.workshop {
    background: linear-gradient(to bottom, black, #1d150a);
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: fit-content;
    background-position: center;
    color: white;
}
.workshop-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
}

.card-body {
    background-color: black;
}
.card-body .card-list {
    padding-left: 30px;  /* Adds indentation to the list */
    list-style-type: disc;  /* Ensures list items are marked with bullets */
}

.card-body .card-list li {
    margin-bottom: 5px;  /* Adds a little space below each list item for better readability */
}

  /* --------------------------------------------------------- */
  /* --------------------------------------------------------- */

  @media (max-width: 768px) {
    /* ---------------- Global styles ----------------*/
    .page-section {
        padding: 1.5rem;
    }
    .card-headshot {
        width: 200px;
        height: 200px;
    }
    .container h2 {
        padding-top: 1.5rem;
    }
    .flex-row {
        /* padding: 3.25rem; */
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }

    /* ---------------- navbar ---------------- */
    .nav-link {
        /* color: antiquewhite !important; */
        text-align: center !important;
        font-size: 22px;
    }

    /* ---------------- jumbotron ---------------- */
    .jumbotron-body h1{
        margin-bottom: 0px !important;
        line-height: 1.8rem;
        text-shadow: #2b1e0b 1px 0 5px;
        font-size: 2rem;
    }
    .jumbotron-body {
        padding: 2rem;
        padding-top: 8rem;
    }

    /* ---------------- Intro ---------------- */
    .intro-body p {
        font-size: 25px;
    }

    /* ---------------- In Store ---------------- */

    .stock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px; /* Adjust gap between cards as needed */
    }

    /* ---------------- Residents ---------------- */
    .resident-card {
        width: 100%;
    }

    .card-img-large {
        width: 100%;
        height: auto; /* Ensure the image scales correctly */
    }
  }





  /* --------------------------------------------------------- */
  /* --------------------------------------------------------- */
  /* ---------------- EXPANDING CARDS ---------------- */
  .card .header h2 {
    font-size: 2rem;
  }
  
  .card .header h3 {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.75;
  }
  
  /* Resetting buttons defaults stylings */
  button {
    display: flex;
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .card {
    --padding-amount: 1.4rem;
    width: min(400px, 80vw);
    position: relative;
    background: #333;
    transform-origin: top left;
    overflow: auto;
    border-color: #000000;
  }
  
  .card .img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  
  .card .header {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: translate(var(--padding-amount), var(--padding-amount));
  }
  
  .card .content {
    padding: 2rem;
  }
  
  .card #close {
    position: absolute;
    top: 0;
    right: 0;
    background: #111;
    border-radius: var(--border-radius);
    padding: 0.4rem 1.6rem;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    transform: translate(calc(var(--padding-amount) * -1), var(--padding-amount));
  }
  
  .card#expandableCard {
    width: 100%;
    height: 100vh;
  }
  
  /* Step 1 - Scaling down */
  .card#expandableCard {
    --width-scale: calc(var(--screen-width) / var(--width));
    transform: scale(calc(1 / var(--width-scale)));
    clip-path: inset(
      0 0 0 0 round calc(var(--border-radius) * var(--width-scale))
    );
  }
  
  .card#expandableCard .header {
    transform: translate(
        calc(var(--padding-amount) * var(--width-scale)),
        calc(var(--padding-amount) * var(--width-scale))
      )
      scale(var(--width-scale));
  }
  
  /* Step 2 - Positioning the expanded element */
  .card#expandableCard {
    --width-scale: calc(var(--screen-width) / var(--width));
    top: 0;
    top: 0;
    position: fixed;
    opacity: 0.5;
    transform: translate(var(--left), var(--top))
      scale(calc(1 / var(--width-scale)));
  }
  
  /* Step 3 - Masking the extra part */
  .card#expandableCard {
    --bottom-clip: calc(
      calc(var(--screen-height) - var(--height) * var(--width-scale)) /
        var(--screen-height) * 100%
    );
    clip-path: inset(
      0 0 var(--bottom-clip) 0 round
        calc(var(--border-radius) * var(--width-scale))
    );
  }
  
  /* Step 4 - Final Adjustments */
  .card#expandableCard {
    opacity: 0;
    will-change: transform, clip-path;
  }
  
  .card#expandableCard[data-state="hidden"] {
    pointer-events: none;
  }
  
  .card#expandableCard:not([data-state="hidden"]) {
    transition: transform 0.3s ease-in-out, clip-path 0.3s ease-in-out;
  }
  .card#expandableCard:not([data-state="hidden"]) .header {
    transition: transform 0.3s ease-in-out;
  }
  
  .card#expandableCard[data-state="expanded"] {
    opacity: 1;
    clip-path: inset(0 0 0 0 round 0);
    transform: translate(0, 0);
  }
  
  .card#expandableCard[data-state="expanded"] .header {
    transform: translate(var(--padding-amount), var(--padding-amount)) scale(1);
  }
  
  .card#expandableCard[data-state="expanded"] #close {
    opacity: 1;
  }
  
  .card#expandableCard[data-state="shrink"] {
    opacity: 1;
    transform: translate(var(--left), var(--top))
      scale(calc(1 / var(--width-scale)));
    clip-path: inset(
      0 0 var(--bottom-clip) 0 round
        calc(var(--border-radius) * var(--width-scale))
    );
  }